<!DOCTYPE html>
<html>
<head>
  <title>Add Event</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Add Event</h2>
    <form method="POST">
      <input type="text" name="title" placeholder="Name of Event" required><br>
      <input type="date" name="date" required><br>
      <input type="time" name="time" required><br>

      <select name="club_id" required>
        {% if clubs %}
          {% for club in clubs %}
            <option value="{{ club.id }}">{{ club.name }}</option>
          {% endfor %}
        {% else %}
          <option disabled selected>No clubs found</option>
        {% endif %}
      </select><br><br>

      <button type="submit">Create Event</button>
    </form>
    <p><a href="/dashboard">Back to Dashboard</a></p>
  </div>
</body>
</html>
