<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Register</h2>
    <form method="POST">
      <input type="text" name="username" placeholder="Username" required /><br>
      <input type="password" name="password" placeholder="Password" required /><br>
      <label>Role: </label>
      <select name="role" required>
      <option value ="student">Student</option>
      <option value="teacher">College Admin</option>
      </select>
      <label>Teacher Code:</label>
<input type="text" name="teacher_code" placeholder="Only for teachers (admin123)" />
      

      </select>
      <button type="submit">Register</button>
    </form>
    <p><a href="/login">Already have an account? Login</a></p>
  </div>
</body>
</html>
